@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat",sans-serif;
    justify-content: center;
    background: #f2f5f9;
}
.container{
    background-color: #202040;
   
    
}
.header{
margin-left: 70px;
font-size: 14px;
padding-top: 20px;
color: #ffffff;


}
#logo{
font-size: 24px;
font-weight: bolder;
text-decoration: none;
padding-right: 40px;
color: white!important;
}
button:hover{
    background-color: #ff6363!important;
    transition: .3s all ease;
    cursor: pointer;
 }
#free-template-button{
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    background-color: transparent;
    
}
.header a{
cursor:pointer;
padding-right: 20px;

}
a:hover{
    transition: .3s all ease;
    color: #ff6363;
}
#contact-us-a{
    margin-right: 450px;
}

.getpaid{
    display: flex;
    padding-top: 50px;
    color: #ffffff;
    
}
#getpaid-first{
    width: 475px;
    height: 297.4px;
    /* border: 1px solid black; */
    margin-right: 150px;
    margin-left: 70px;
    margin-top: 70px;
    
}
.getpaid-second{
    position: absolute;
    right: 10px;
}
.input-container{
    width: 445px;
    height: 47px;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 7px;
    background-color: #ffffff;
}
/* input simple*/
#email-adress-input{
   
   
    border: #ffffff;
    font-size: 16px;

}
textarea:focus, input:focus{
    outline: none;
}


/* input button */
#input-button{
    border: 0px;
    height: 47px;
    width: 116px;
    background-color: rgb(255, 119, 119);
    color: #ffffff;
    border-radius: 7px;
    margin-left: 120px;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
}

.first-h1{
    height: 96px;
    width: 370px;
    /* border: 1px solid black; */
 
}
.first-h1>h1{
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
   
}


#triangle{
 
    position: relative;
    bottom: -4.5px;
    
}
#triangle img{
    width: 100%;
}

.company-logo-container{
    display: flex;
    padding-left: 100px;
    margin-top: 30px;
}
.company-logo-container>ul li{
    height: 113px;
    width: 255px;
    display: flex;
    
}
.company-logo-container>ul{
    display: flex;
    text-decoration: none;
}

.main-text{
    height: 86.4px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.main-text>p{
    line-height: 1.5;
}

.second-section{
    margin-top: 70px;
}
.second-section-header{
    text-align: center;
    line-height: 1.8;
   
}
.awesome-head{
    color: #ff6363;
    font-size: 13px;
    font-weight: 700;
}
.second-p{
    font-size: 16px!important;
   
}
.features-boxes{
margin-top: 40px;
justify-content: center;
display: flex;
flex-wrap: wrap;
margin-left: 80px;

}
.features-cash{
    height: 280px;
    width: 343.33px;
    padding: 15px;
    
}
.img-box{
    height: 90px;
    width: 90px;
   
    background-color: #ffffff;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 5%);
}
.img-box>img{
    height: 50px;
    width: 50px;
    padding:20px 20px 20px 20px;
}
.features-text{
    width: 263.33px;
    height: 75.6px;
    line-height: 1.8;
    font-size: 14px;
   
    color: #000839;
}
.third-section{
    display: flex;
    margin-left: 100px;
    margin-top: 80px;
}
.third-section-first{
height: 380px;
width: 364.8px;
}
.carousel-nav{
    display: flex;
    padding: 20px;
}
.carousel-nav img{
    height: 80px;
    width: 80px;
    border-radius: 50%;

}

.third-section-h4{
    font-size: 13px;
    color: #ff6363;
}

.third-section-h2{
    font-size: 30px;
    margin: 0px 0px 24px;
}
.third-section-p{
    font-size: 16px;
    margin: 0px 0px 24px;
}

#product-tour-button{
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 30px;
    height: 47px;
    width: 153px;
    background-color: #ff6363;
}
.carousel-div{
    height: 250px;
    width: 600px;
    margin-left: 100px;
    border-radius: 7px;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 5%);

}
.info-person-carousel{
    padding-left: 20px;
    padding-top: 20px;
}
.info-carousel{
    height: 86.4px;
    width: 500px;
  margin-left: 20px;
}

.fourth-section{
    display: flex;
    margin-left: 100px;  
}

.fourth-section-first{
    margin-top: 100px;
    height: 321.6px;
    width: 379.99px;
    padding-right: 50px;
}
.fourth-section-second img{
    height: 465.83px;
    width: 610px;
}

.fourth-section-first strong{
    font-size: 13px;
    color: #ff6363;
    text-transform: uppercase;
    font-weight: bolder;
}

.fourth-section-first h2{
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 20px;
}

.fourth-section-first p{
    font-size: 16px;
    padding-bottom: 20px;
   
}
.fourth-section-first button{
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 30px;
    height: 47px;
    width: 153px;
    background-color: #ff6363;
}

.fifth-section{
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
}


#fifth-section-p{
    width: 350px;
    height: 115.2px;
   
}
.fifth-section-first{
    margin-right: 90px;
}

.fifth-section-first img{
    height: 410.54px;
    width: 635px;
}

.fifth-section-second{
    margin-top: 100px;
    margin-left: 10px;
    width: 350px;
}
.fifth-section-second strong{
    font-size: 13px;
    color: #ff6363;
    text-transform: uppercase;
    font-weight: bolder;
}

.fifth-section-second h2{
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 20px;
}
.fifth-section-second p{
    font-size: 16px;
    line-height: 1.8;
    
   
}

.fifth-section-second button{
    margin-top: 15px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 30px;
    height: 47px;
    width: 153px;
    background-color: #ff6363;
}

.sixth-section-header{
    margin-top: 100px;
text-align: center;
/* border: 1px solid black; */
align-items: center;
line-height: 1.5;
}
.sixth-section-header strong{
    color:#ff6363;
    font-size: 13px;
}
.sixth-section-header h2{
    font-size: 30px;
}
.toggle-area{
    display: flex;
    justify-content: center;
    width: 100%;
 
    
    
}
.toggle{
    width: 50px;
    border-radius: 30px;
    height: 30px;
    background-color: rgb(255, 99, 99);
    position: relative;
    transition: all 0.3s ease 0s;
}

.toggle::before {
    transition: all 0.3s ease 0s;
    content: "";
    position: absolute;
    left: 1px;
    height: 28px;
    width: 28px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px 0px;
}

#save-price{
    height: 20px;
    width: 67px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 700;
    background-color: #ff6363;
    color: #ffffff;
}
.sixth-section-boxes{
    display: flex;
    justify-content: center;
    margin-top: 30px;
   

}
.sixth-section-box{
    height: 560.8px;
    width: 320px;
    /* border: 1px solid black; */
    margin: 40px;
}

.sixth-section-box h3{
    font-weight: 700;
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
}
.sixth-section-box p{
    color: #a0a4ab;
    font-weight: 400;
    text-align: center;
    line-height: 1.8;
    margin-top: 20px;
}

#price-dollar{
    color: #ff6363;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    margin-top: 30px;
}
#per-month{
    line-height: 27px;
    overflow: hidden;
    font-size: 16px;
    text-align: center;
}

.sixth-section-box ul{
    text-align: center;
    list-style-type: none;
    margin-top: 20px;
    font-size: 16px;
    
    
}
.sixth-section-box button{
    margin-top: 15px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 30px;
    height: 47px;
    width: 153px;
    background-color: #ff6363;
    margin-left: 90px;
    margin-top: 20px;
}

#center-price-box{
    background-color: #ffffff;
    border-radius: 7px;
}

.seventh-section{
    height: 700px;
    background-color: #ebf0f6;
}
.seventh-section-header{
    text-align: center;
    padding-top: 60px;
}
.seventh-section-header strong{
    color: #ff6363;
    line-height: 1.8;
    font-size: 13px;
    text-transform: uppercase;
}
.seventh-section-header h2{
    font-size: 30px;
    padding-bottom: 30px;
}

.seventh-section-box{
    height: 470px;
    width: 236px;
    margin: 20px;
    background-color: #fff!important;
   
}
.seventh-section-boxes{
    display: flex;
    justify-content: center;
   
}
.seventh-section-box img{
    height: 200px;
    width: 236px;
    justify-content: center;
    padding-bottom: 20px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    
}
.seventh-section-box img:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.seventh-section-box span{
    color: #a0a4ab;
    font-size: 12px;
    line-height: 1.8;
    padding-left: 20px;
   
    
}
.seventh-section-box a{
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
   
}

#seventh-section-a{
    width: 170px;
    padding-left: 20px;
}

.seventh-section-box p{
    font-size: 14px;
    line-height: 1.8;
}
#seventh-section-box-vokalia{
    padding-left: 20px;
    padding-top: 10px;
    width: 170px;
}

.footer{
    height: 520px;
    background: #f2f5f9;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.footer-first{
    height: 297.84px;
    width: 379.99px;
    /* border: 1px solid black; */
    

}
.footer-logo-boxes{
    display: flex;
    
}
.footer-logo-box{
    height: 30px;
    width: 30px;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: 2px;
    padding-top: 10px;
    font-size: 15px;
    padding-left: 15px;
    background-color: #f8f9fa;
}
.footer-logo-box i:hover{
color: #ff6363;
cursor: pointer;
transition: all 0.3s ease 0s;

}

.footer-list{
    display: flex;
    padding-top: 30px;
}


.footer-second{
    /* border: 1px solid black; */
    width: 570px;
    height: 297.84px;
    margin-left: 160px;
}

.footer-first h3{
    padding-bottom: 30px;
    font-size: 16px;
}
.footer-first p{
    line-height: 1.5;
    color: #000839;
    font-size: 15px;
    padding-bottom: 30px;
}

#footer-first-p{
    width: 349px;
}

.footer-list div{
    padding-right: 120px;
}

ul>li{
    list-style-type: none;

}
.footer-list li{
    padding-bottom: 15px;
    font-size: 15px;
}

.footer-list li:hover{
cursor: pointer;
color: #ff6363;
transition: all 0.3s ease 0s;
}

.footer h3{
    font-size: 16px;
}

@media(max-width: 740px) {

 
.container{
width:1140px; 
    
}
.header{
    display: none;
}
  .first-h1{
    height: 96px;
    width: 510px;
    font-size: 40px;
    position: relative;
    left: 170px;
  }
.getpaid-second{
    position: relative;
    left: -450px;
    top: 430px;
    z-index: 1;
    height: 442px;
    width: 465px;
}
.getpaid-second img{
 
    z-index: 1px;
}

.company-logo-container ul{
    position: relative;
    left: -120px;
    height: 10px;
    width: -30px;
    
}
.input-container{
   width: 510px;
   position: relative;
  
   left: 160px;
}
#input-button{
    position: relative;
    right: -70px;
}
.main-text{
    left: 170px;
    position: relative;
}
.company-logo-container{
    position: relative;
    top: 210px;
    left: 60px;
}
.second-section-header{
    width: 300px;
    position: relative;
    left: 390px;
    top: 260px;
    
}
.awesome-head{
    font-size: 26px;
}
.features-boxes{
    position: relative;
    top:220px;
   display: flex;
   left: 160px;
   
   
}
.features-cash{
    width: 1000px;
    /* border: 1px solid black; */
    top: 20px;
    position: relative;
}
.img-box{
    left: 230px;
    position: relative;
    height: 130px;
    width: 130px;
}
.img-box img{
    height: 70px;
    width: 70px;
    left: 10px;
    top: 10px;
    position: relative;
}
.features-text{
    position: relative;
    left: 20px;
    font-size: 14px;
    width: 600px;
    text-align: center;
}
.features-cash h2{
    text-align: center;
    position: relative;
}
.features-text p{
    font-size: 20px;
}
.third-section{
    /* border: 1px solid black; */
    width: 1000px;
    position: relative;
    top: 150px;
    left: 60px;
}
.third-section-h2{
    font-size: 30px;
    width: 700px;
    font-size: 40px;
   
}
.third-section-first{
    width: 870px;
}
.third-section-p{
    font-size: 26px;
    line-height: 1.5;
  
}

.carousel-div{
    position: relative;
    left: -850px;
    top:400px;
    width: 900px;
    height: 400px;
    
   
}
.carousel-nav img{
    height: 160px;
    width: 160px;
    position: relative;
    left: 50px;
}
.info-person-carousel{
    position: relative;
    left: 60px;
}
.carousel-nav{
    position: relative;
    top: 40px;
}
.info-person-carousel h4{
    font-size: 24px;
}
.info-person-carousel p{
    font-size: 20px;
    line-height: 1.5;
}
.info-carousel p{
font-size: 26px;
font-weight: 700;
position: relative;
top: 30px;
left: 40px;
}
.info-carousel{
    width: 700px;
}
.inner-div-carousel{
    width: 1000px;

}
.fourth-section{
    position: relative;
    top: 590px;
}
.fifth-section{
    position: relative;
    top: 900px;
}
.sixth-section{
    position: relative;
    top: 1280px;
}
.seventh-section{
    position: relative;
    top:1900px;
}

.footer{
    position: relative;
    top:2100px;
}
.fourth-section-first{
    position: relative;
    top: 400px;
    left: -100px;
}
.fourth-section-first strong{
   font-size: 23px;
   position: relative;
   left: 120px;
   width: 1000px;
   
}
.fourth-section-second{
    position: relative;
    left: -390px;
}
.fourth-section-first h2{
    width: 500px;
    left: 120px;
    position: relative;
    line-height: 1.5;
}
.fourth-section-first p{
    font-size: 27px;
    line-height: 1.5;
    width: 850px;
    height: 200px;
    position: relative;
    left: 120px;
}
.fourth-section-first button{
    position: relative;
    left: 120px;
    top: -50px;
}
.fifth-section-first img{
    position: relative;
    left: 120px;
}
.fifth-section-second{
    position: relative;
    top: 390px;
    
}
.fifth-section-second strong{
    font-size: 23px;
    position: relative;
    left: -650px;
    width: 1000px;
} 
.fifth-section-second h2{
    width: 500px;
    left: -650px;
    position: relative;
    line-height: 1.5;
}

.fifth-section-second p{
    font-size: 27px;
    line-height: 1.5;
    width: 850px;
    height: 200px;
    position: relative;
    left: -650px;
}
.fifth-section-second button{
    position: relative;
    left: -650px;
    top: 10px;
}

.sixth-section-header{
    position: relative;
    left: 150px;
}
.sixth-section-header strong{
    font-size: 20px;
}
.sixth-section-header h2{
    font-size: 30px;
    line-height: 1.5;
}
#sixth-section-first-box{
    border: 1px solid black;
 

}
.sixth-section-box h3{
    font-size: 35px;
    left: 400px;
    position: relative;
}
.sixth-section-box p{
    position: relative;
    left: 350px;
    width: 400px;
}
#price-dollar{
    position: relative;
    left: 400px;
}
#per-month{
    position: relative;
    left: 400px;
}

.sixth-section-boxes{
    left: 200px;
    position: relative;
    
}
#center-price-box{
border: 1px solid black;
position: relative;
width: 1000px;
top: 800px;
}
#sixth-section-last-box{
    position: relative;
    top: 1500px;
}
.sixth-section-box ul{
    left: 400px;
    position: relative;
}
.sixth-section-box button{
    position: relative;
    left: 400px;
}



}